*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main{
	height: 100%;
	width: 80%;
	margin-left: 270px;
	margin-top: 10px;
	margin-right: 90px;


}
.header{
	height: 100px;
	width: 65%;
	background: #83a95c;
	border-radius: 4px;
	font-family: 'Rajdhani', sans-serif;
	
}
.header h1{
	padding-top: 20px;
	padding-left: 20px;
	color: white;
}
.header p {
	padding-left: 20px;
	color: white;
}
.form{
	width: 65%;
	background-color: #e8eae6;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
}
[type='text']{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
[type='email']{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
label{

	font-size: 20px;
}
textarea{
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}
[type="submit"]{
	width: 100px;
	height: 40px;
	background-color: #83a95c;
	border-style: none; 
	margin-bottom: 10px;
	color: white;
	font-family: 'Rajdhani', sans-serif;
	
}
[type="submit"]:hover{
	cursor: pointer;
	background-color: #96bb7c;
	color: white;
	font-family: 'Rajdhani', sans-serif;
}